Repository kleinerstation13/ss14-harmony, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KeldWolf, @FluffMe, @youtissoum, @Zap527, @DieselMohawk, @spanky-spanky

.github/CODEOWNERS:

# Last match in file takes precedence.

# Everything
*                                                   @KeldWolf @FluffMe @youtissoum

# C# code
/Content.*/                                         @KeldWolf @FluffMe @youtissoum

# YML files
/Resources/*.yml                                    @KeldWolf @FluffMe @youtissoum @Zap527
/Resources/**/*.yml                                 @KeldWolf @FluffMe @youtissoum @Zap527

# Sprites
/Resources/Textures/                                @DieselMohawk

# Lobby art and music
/Resources/Audio/Lobby/                             @KeldWolf
/Resources/Audio/_Harmony/Lobby/                    @KeldWolf
/Resources/Textures/LobbyScreens/                   @DieselMohawk
/Resources/Textures/_Harmony/LobbyScreens/          @DieselMohawk

# Maps
/Resources/Maps/                                    @spanky-spanky
/Resources/Prototypes/Maps/                         @spanky-spanky
/Resources/Prototypes/_Harmony/Maps/                @spanky-spanky
/Content.IntegrationTests/Tests/PostMapInitTest.cs  @spanky-spanky

EOF
  Resources/Locale/en-US/_Harmony/store/uplink-catalog.ftl
Owners: @KeldWolf, @FluffMe, @youtissoum

Now also fires regular shotgun shells, added discount, fixed meta.json, removed tags, fixed order in entites, nerfed shell box ammo count
  Resources/Prototypes/_Harmony/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/_Harmony/tags.yml
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Casings/flechette_shell.rsi/meta.json
Owners: @KeldWolf, @FluffMe, @youtissoum, @Zap527, @DieselMohawk

Oops
  Resources/Prototypes/_Harmony/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
Owners: @KeldWolf, @FluffMe, @youtissoum, @Zap527

Updates audio file format, updates uplink description
  Resources/Audio/_Harmony/Weapons/Guns/Gunshots/attributions.yml
  Resources/Audio/_Harmony/Weapons/Guns/Gunshots/hushpup_fire.ogg
  Resources/Audio/_Harmony/Weapons/Guns/Gunshots/hushpup_fire.wav
  Resources/Locale/en-US/_Harmony/store/uplink-catalog.ftl
  Resources/Prototypes/_Harmony/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
Owners: @KeldWolf, @FluffMe, @youtissoum, @Zap527

fix
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/dmr_mag.rsi/meta.json
Owners: @DieselMohawk

Update Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
Owners: @KeldWolf, @FluffMe, @youtissoum

Update Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/hardsuits.yml
Owners: @KeldWolf, @FluffMe, @youtissoum, @Zap527

Update Resources/Prototypes/_Goobstation/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/hardsuit-helmets.yml
Owners: @KeldWolf, @FluffMe, @youtissoum, @Zap527

Axed flechette for now, adjusted multiple descriptions, buffed firerate and price
  Resources/Locale/en-US/_Harmony/store/uplink-catalog.ftl
  Resources/Prototypes/_Harmony/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_Harmony/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Boxes/flechette.rsi/base.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Boxes/flechette.rsi/flechette.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Boxes/flechette.rsi/mag-1.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Boxes/flechette.rsi/mag-2.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Boxes/flechette.rsi/mag-3.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Boxes/flechette.rsi/mag-4.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Boxes/flechette.rsi/meta.json
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Casings/flechette_shell.rsi/flechette-spent.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Casings/flechette_shell.rsi/flechette.png
  Resources/Textures/_Harmony/Objects/Weapons/Guns/Ammunition/Casings/flechette_shell.rsi/meta.json
Owners: @KeldWolf, @FluffMe, @youtissoum, @Zap527, @DieselMohawk

Forgot extra line
  Resources/Prototypes/_Harmony/Entities/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.yml
Owners: @KeldWolf, @FluffMe, @youtissoum, @Zap527

fixes desc and removes blacklist
  Resources/Prototypes/_Harmony/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_Harmony/Catalog/uplink_catalog.yml
Owners: @KeldWolf, @FluffMe, @youtissoum, @Zap527

added music to nuke pool
  Resources/Audio/_Harmony/StationEvents/attributions.yml
  Resources/Audio/_Harmony/StationEvents/parabellum.ogg
  Resources/Prototypes/SoundCollections/NukeMusic.yml
Owners: @KeldWolf, @FluffMe, @youtissoum, @Zap527

Changed source to a youtube link instead of a repo
  Resources/Audio/_Harmony/StationEvents/attributions.yml
Owners: @KeldWolf, @FluffMe, @youtissoum, @Zap527

Fixed license
  Resources/Audio/_Harmony/StationEvents/attributions.yml
Owners: @KeldWolf, @FluffMe, @youtissoum, @Zap527

shorter
  Resources/Audio/_Harmony/StationEvents/parabellum.ogg
Owners: @KeldWolf, @FluffMe, @youtissoum

Update Resources/Textures/_Harmony/Interface/Actions/actions_syndicate_borg.rsi/meta.json
  Resources/Textures/_Harmony/Interface/Actions/actions_syndicate_borg.rsi/meta.json
Owners: @DieselMohawk

fixes order
  Resources/Prototypes/_Harmony/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/_Harmony/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Specific/Robotics/borg_modules.yml
Owners: @KeldWolf, @FluffMe, @youtissoum, @Zap527
